<h2>Products</h2>


<!-- assign each index in the products array to the productId variable when iterating over the list -->
<div *ngFor="let product of products; index as productId">
  <h3>
    <a [title]="product.name + ' details'"
    [routerLink]="['/product', productId]">
    {{ product.name }} </a>
    <span> {{ product.price | currency }} </span>
  </h3>

  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <button class="my-1 " (click)="share()">
    Share
  </button>

  <!-- [product]="product" : -->
  <!-- Pass the current product as input to the component using property binding -->
  <!-- (notify)="onNotify()" : -->
  <!-- bind the app-product-alerts component (which is what displays the "Notify Me" button) to the onNotify() method of the product list component -->
  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
