<h2>My Heroes</h2>

<ul class="heroes">

  <!-- * (list with onSelect) -->
  <!-- <li
    *ngFor="let hero of heroes"
    (click)="onSelect(hero)"
    [class.selected]="hero === selectedHero"
    > -->
  <!-- className : used to add a class -->
  <!-- [className]="'uselessClass'" -->
  <!--
    <span class="badge">{{ hero.id }}</span> {{ hero.name }}
  </li> -->

  <!-- * (list with links) -->
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>

</ul>

<!-- Represented by @Input() hero: Hero (hero-detail.component.ts) -->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
