<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': post.loveIts > 0,
    'list-group-item-danger': post.loveIts < 0,
    'list-group-item-info': post.loveIts === 0
  }"
>
  <div class="row">
    <div class="col-5">
      <h2>{{ post.title }}</h2>
    </div>
    <div class="col-3">
      {{ post.createdDate | date: "mediumDate" }}
    </div>

    <div class="offset-3 col-1">
      <h3>{{ post.loveIts }}</h3>
    </div>
  </div>

  <p>{{ post.content }}</p>
  <div class="row">
    <div class="col-3">
      <button type="button" class="btn btn-sm btn-success" (click)="loveIt()">Love</button>
      <button type="button" class="offset-1 btn btn-sm btn-danger" (click)="hateIt()">Hate</button>
    </div>
  </div>
</li>
