body {
  background-color: #154a5a;
}
#myContainer {
  background-color: #7dc4db;
  height: 500px;
  padding: 0;
}

#circel1 {
  background-color: aquamarine;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top:50px;
  left:50px;
  /* border: 1px dotted rgb(40, 248, 179); */
}
#circel2 {
  background-color: rgb(116, 135, 245);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top:50px;
  left:300px;
}